<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>store_login</title>
    {% load staticfiles %}
    <script src="{% static 'js/zepto.js' %}"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
    <script type="text/javascript">
    </script>
</head>
<body>
    <h1>商店登录</h1>
    <form>
        名字:<input type="text" id="name"/><br><br>
        密码:<input type="password" id="password"/><br><br>
        验证码：<input type="text" id="vcode"/><br/><br>
        <img src="/verify_code/" id="imgvcode"/><br/><br>
        <input type="button" onclick="login_submin(1)" value="登录">
    </form>
</body>
</html>